.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 15%;
  width: auto;
  height: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.open {
  display: block;
}
.modal-button {
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.delete-button {
  margin-top: 10px;
  color: black;
  cursor: pointer;
  height: auto;
  width: 35px;
  margin-right: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.edit-quantity {
  display: flex;
  gap: 10px;
  align-items: center;
}

input {
  width: 50px;
  padding: 8px;
  font-size: 14px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
